<h1 id="tableLabel">Device List</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!devices"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="devices">
  <thead>
    <tr>
      <th>Serial Number</th>
      <th>Machine Type</th>
      <th>Maintenance Employee</th>
      <th>LastMaintenanceDate</th>
      <th>Maintenance Number</th>
      <th>Status</th>
      <th>Waste Container Fullness</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let devices of devices">
      <td>{{ devices.serialNumber }}</td>
      <td>{{ devices.machineType }}</td>
      <td>{{ devices.maintenanceEmployee }}</td>
      <td>{{ devices.lastMaintenanceDate }}</td>
      <td>{{ devices.maintenanceNumber }}</td>
      <td>{{ devices.Status }}</td>
      <td>{{ devices.WasteContainerFullness }}</td>
    </tr>
  </tbody>
</table>
